@import "../../const";

.header-tabs {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.header-tab {
  color: $darkGray;
  border-bottom: 2px solid $darkGray;
  cursor: pointer;
  font-size: 25px;
  min-height: 80px;
  display: flex;
  align-items: center;
  padding: 0 calc(14vw - 25px);
  &.is-selected {
    color: $turquoise;
    border-bottom-color: $turquoise;
  }
  &:hover {
    color: $hoverTurquoise;
    border-bottom-color: $hoverTurquoise;
  }
}